= form_for @host_execution do |f|
  - if @host_execution.errors.any?
    #error_explanation
      %h2= "#{pluralize(@host_execution.errors.count, "error")} prohibited this host_execution from being saved:"
      %ul
        - @host_execution.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :host
    = f.text_field :host
  .field
    = f.label :execution
    = f.text_field :execution
  .actions
    = f.submit 'Save'
