<p id="notice"><%= notice %></p>

<h1>Listing HostExecutions</h1>

<table>
  <thead>
    <tr>
      <th>Host</th>
      <th>Status</th>
      <th>File path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @host_executions.each do |host_execution| %>
      <tr>
        <td><%= host_execution.host %></td>
        <td><%= host_execution.status %></td>
        <td><%= host_execution.file_path %></td>
        <td><%= link_to 'Show', host_execution %></td>
        <td><%= link_to 'Edit', edit_host_execution_path(host_execution) %></td>
        <td><%= link_to 'Destroy', host_execution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New HostExecution', new_host_execution_path %>
