%h1 Listing host_executions

%table
  %thead
    %tr
      %th Host
      %th Execution
      %th
      %th
      %th

  %tbody
    - @host_executions.each do |host_execution|
      %tr
        %td= host_execution.host
        %td= host_execution.execution
        %td= link_to 'Show', host_execution
        %td= link_to 'Edit', edit_host_execution_path(host_execution)
        %td= link_to 'Destroy', host_execution, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Host execution', new_host_execution_path
