<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @host_execution.host %>
</p>

<p>
  <strong>Status:</strong>
  <%= @host_execution.status %>
</p>

<pre>
<%= @host_execution.read_log %>
</pre>

<%= link_to 'Edit', edit_host_execution_path(@host_execution) %> |
<%= link_to 'Back', host_executions_path %>
