%p#notice= notice

%p
  %b Host:
  = link_to(@host_execution.host.name, @host_execution.host)
%p
  %b Execution:
  = link_to(@host_execution.execution.created_at, @host_execution.execution)

#accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  - Event.group_by_action(@host_execution.events).each_with_index do |group, index|
    .panel.panel-default
      .panel-heading{:role => "tab", :id => "heading#{index}"}
        %h4.panel-title
          %a{"aria-controls" => "collapse#{index}", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{index}", :role => "button"}
            = "#{group.action['action']} #{group.resource['resource_type']}[#{group.resource['resource_name']}]"
      .panel-collapse.collapse{"aria-labelledby" => "heading#{index}", :role => "tabpanel", :id => "collapse#{index}"}
        .panel-body
          - group.events.each do |event|
            = preserve(event_description_html(event).html_safe)

= link_to 'Back', host_executions_path
