= form_for @execution do |f|
  - if @execution.errors.any?
    #error_explanation
      %h2= "#{pluralize(@execution.errors.count, "error")} prohibited this execution from being saved:"
      %ul
        - @execution.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :revision_id
  .form-group
    = f.label :dry_run
    = f.check_box :dry_run, class: 'form-control'
  = f.submit 'Save', class: 'btn btn-default'
