= form_for @execution do |f|
  - if @execution.errors.any?
    #error_explanation
      %h2= "#{pluralize(@execution.errors.count, "error")} prohibited this execution from being saved:"
      %ul
        - @execution.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :revision_id
    = f.text_field :revision_id
  .field
    = f.label :dry_run
    = f.check_box :dry_run
  .actions
    = f.submit 'Save'
