%p#notice= notice

%p
  %b Revision:
  = @execution.revision

%table.table
  %thead
    %tr
      %th Resource
      %th Event
      %th Detail
  %tbody
    - recipe = nil
    - resource = nil
    - @execution.events.each do |event|
      - case event.event_type
      - when 'recipe_started'
        - recipe = event.payload
      - when 'resource_started'
        - resource = event.payload
      - when 'resource_updated', 'attribute_changed', 'file_content_changed'
        %tr
          %td{title: recipe && recipe["path"]}= "#{resource["resource_type"]}[#{resource["resource_name"]}]"
          %td= event.event_type
          %td= preserve(event_description_html(event).html_safe)

= link_to 'Edit', edit_execution_path(@execution)
\|
= link_to 'Back', executions_path
