%p#notice= notice

%p
  %b Revision:
  = link_to(@execution.revision.name, @execution.revision)

%table.table
  %thead
    %tr
      %th Host
      %th Updated Resources
  %tbody
    - # TODO: Fix N+1
    - @execution.host_executions.sort_by {|he| he.updated_resource_count }.each do |host_execution|
      %tr
        %td= link_to(host_execution.host.name, host_execution)
        %td
          %span.badge= host_execution.updated_resource_count

= link_to 'Back', executions_path
