<p id="notice"><%= notice %></p>

<p>
  <%= link_to "Revision ##{@execution.revision.id}", @execution.revision %>
  <%= status_label(@execution.status).html_safe %>
  <%= dry_run_label(@execution.is_dry_run).html_safe %>
</p>

<table class="table">
  <tr>
    <th>Host</th>
    <th>Status</th>
    <th>Created</th>
  </tr>
  <% @execution.host_executions.each do |host_execution| %>
    <tr>
      <td><%= link_to "#{host_execution.host}", host_execution %></td>
      <td><%= status_label(host_execution.status).html_safe %></td>
      <td><%= host_execution.created_at %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Abort', execution_path(@execution, execution: {status: "aborted"}), class: "btn btn-danger", method: :patch %>
