<%= form_for(@revision) do |f| %>
  <% if @revision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@revision.errors.count, "error") %> prohibited this revision from being saved:</h2>

      <ul>
      <% @revision.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :recipes_tar %><br>
    <%= f.file_field :recipes_tar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
