<p id="notice"><%= notice %></p>

<h1>Listing Revisions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @revisions.each do |revision| %>
      <tr>
        <td><%= revision.name %></td>
        <td><%= revision.url %></td>
        <td><%= link_to 'Show', revision %></td>
        <td><%= link_to 'Edit', edit_revision_path(revision) %></td>
        <td><%= link_to 'Destroy', revision, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Revision', new_revision_path %>
