<p id="notice"><%= notice %></p>

<h1>Listing Revisions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Active?</th>
      <th>ID</th>
      <th>Tags</th>
      <th>Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @revisions.reverse_each do |revision| %>
      <tr>
        <td><% if revision.active? %><span class="label label-success">Active</span><% end %></td>
        <td><%= revision.id %></td>
        <td><%= revision.tags.map {|t| "#{t.key}:#{t.value}" }.join(",") %></td>
        <td><%= revision.updated_at %></td>
        <td><%= link_to 'Show', revision %></td>
        <td><%= link_to 'Destroy', revision, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Revision', new_revision_path %>
