<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @revision.name %>
</p>

<h2>Executions</h2>

<%= link_to "New Execution", new_execution_path(revision_id: @revision.id) %>

<ul>
  <% @revision.executions.each do |execution| %>
    <li><%= link_to "Execution ##{execution.id} (#{execution.status} / #{execution.is_dry_run ? "dry run" : "actual run"})", execution %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_revision_path(@revision) %> |
<%= link_to 'Back', revisions_path %>
