<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @revision.name %>
</p>

<p>
  <strong>Tar url:</strong>
  <%= @revision.tar_url %>
</p>

<%= link_to 'Edit', edit_revision_path(@revision) %> |
<%= link_to 'Back', revisions_path %>
