<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @revision.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @revision.url %>
</p>

<%= link_to 'Edit', edit_revision_path(@revision) %> |
<%= link_to 'Back', revisions_path %>
