<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @log.host %>
</p>

<p>
  <strong>Status:</strong>
  <%= @log.status %>
</p>

<p>
  <strong>File path:</strong>
  <%= @log.file_path %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
