<p id="notice"><%= notice %></p>

<p>
  <strong>Revision:</strong>
  <%= @plan.revision %>
</p>

<p>
  <strong>Status:</strong>
  <%= @plan.status %>
</p>

<p>
  <strong>Is dry run:</strong>
  <%= @plan.is_dry_run %>
</p>

<h2>Logs</h2>

<ul>
  <% @plan.logs.each do |log| %>
    <li><%= link_to "#{log.host} (#{log.status})", log %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
